@charset "utf-8";

*{
    background: black;
}

div{
    margin-top: 100
     px;
    display: block;
    text-align:center;
    height: auto;
}

#itime {
    color: aqua;

    font-size:xx-large;
}

#idate {
    color: aqua;
} 