@charset "utf-8";

*{
    background: black;
}

div{
    margin-top: 100px;
    display: block;
    text-align:center;
    height: auto;
}

#itime {
    color: aqua;

    font-size:xx-large;
    text-shadow: 5px 0px  20px white;
}

#idate {
    color: aqua;
    text-shadow: 5px 0px  20px white;
} 